.blog_item h1 {
    font-size: 18px;
    margin-top: 15px;
    min-height: 45px;
}

/* blog detail page styles */

.blog-page__detail {
    text-align: left;
    .section_header {
        margin-bottom:0px;
        padding:20px;         
            h5{
                max-width: 100%;
            }        
    }
    p{
        padding:10px 20px;
    }
    p + p {
        padding-top:0px;
    }
    pre {
        background:#dbdbdba4;
        padding:15px;
    }
}

.blog-detail__header {
    float:left;
    width:100%;
    padding:0;
    margin-bottom:50px;
    margin-top:-50px;
    background-color:#ccc;
    background-size: cover;
    background-position: center center;
    height:500px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-self: center;
    img {
        width:100%;
        align-self: center;
    }   

}

.section-spacing__bottom {
    padding-bottom:50px;
}