header {
    width:100%;
    padding:30px 0;
    background:#f1f1f1;
    display: flex;
    align-items: center;

    .vt-logo {
        width:250px;
        text-align: left;
        font-weight: bold;
    }

    nav {
        align-items: center;
        display: flex;
        width: 100%;
        a {
            margin-left:60px;
            font-size: 14px;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 2px;
            color:#000;
            &:hover {
                color:#F0469F;
            }
        }

        img{
            max-width: 25px;
        }
    }
}