.coming-soon {
    padding:200px 0;
    font-size:120px;
}

// About Section
.aboutImg {
    text-align: left;
    img {
        max-width: 450px;
        filter: grayscale(100%);
    }
}
.about-des {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2{
        font-size: 34px;
        color:#000;
        font-weight: 700;
        margin-bottom:30px;
    }
}