header {
  width: 100%;
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
}

header .vt-logo {
  width: 250px;
  text-align: left;
  font-weight: bold;
}

header nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

header nav a {
  margin-left: 60px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #000 !important;
  text-decoration: none !important;
}

header nav a:hover, header nav a:active, header nav a.active {
  color: #F0469F !important;
}

header nav a.align-right {
  margin-right: auto;
}

header nav img {
  max-width: 25px;
}

.coming-soon {
  padding: 200px 0;
  font-size: 120px;
}

.aboutImg {
  text-align: left;
}

.aboutImg img {
  max-width: 450px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.about-des {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-des h2 {
  font-size: 34px;
  color: #000;
  font-weight: 700;
  margin-bottom: 30px;
}

.section_hero {
  float: left;
  width: 100%;
  padding: 60px 0;
  position: relative;
}

.section_hero .slideItem {
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section_hero .hero_content {
  float: left;
  width: 25%;
  text-align: left;
}

.section_hero .hero_content h2 {
  font-size: 67px;
  font-weight: 400;
  color: #959595;
}

.section_hero .hero_content h1 {
  font-size: 80px;
  color: #000;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: -2px;
  margin-bottom: 40px;
}

.section_hero .hero_content .des {
  margin-top: 200px;
}

.section_hero .hero_content .des h4 {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2px;
}

.section_hero .hero_content .des p {
  max-width: 320px;
  font-size: 14px;
}

.section_hero .hero_content .des a {
  text-transform: uppercase;
  color: #11E2F6;
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: bold;
}

.section_hero .hero_img {
  width: 60%;
  text-align: center;
  position: relative;
  float: left;
}

.section_hero .scroll-down button {
  background-color: transparent;
  border: 0;
  margin-left: 15px;
}

.section_hero .hero_action {
  float: left;
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.section_hero .hero_tech p {
  text-transform: uppercase;
  margin: 2px 0;
  letter-spacing: 1px;
}

.blog_item h1 {
  font-size: 18px;
  margin-top: 15px;
  min-height: 45px;
}

/* blog detail page styles */
.blog-page__detail {
  text-align: left;
}

.blog-page__detail .section_header {
  margin-bottom: 0px;
  padding: 20px;
}

.blog-page__detail .section_header h5 {
  max-width: 100%;
}

.blog-page__detail p {
  padding: 10px 20px;
}

.blog-page__detail p + p {
  padding-top: 0px;
}

.blog-page__detail pre {
  background: #dbdbdba4;
  padding: 15px;
}

.blog-detail__header {
  float: left;
  width: 100%;
  padding: 0;
  margin-bottom: 50px;
  margin-top: -50px;
  background-color: #ccc;
  background-size: cover;
  background-position: center center;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  -ms-flex-item-align: center;
      align-self: center;
}

.blog-detail__header img {
  width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.section-spacing__bottom {
  padding-bottom: 50px;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  list-style: none;
}

body {
  background-color: #f1f1f1 !important;
  color: #444 !important;
  font-size: 14px !important;
}

a {
  color: #34D1DB !important;
}

a:hover {
  color: #06BBC7 !important;
}

img {
  max-width: 100%;
}

button {
  border-radius: 0;
  background: #ccc;
  color: #000;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container.content-left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.section-row {
  width: 100%;
  float: left;
  padding: 50px 0;
}

.mobile-only {
  display: none;
}

@media only screen and (max-width: 767px) {
  .mobile-only {
    display: block;
  }
}

.section-spacing {
  padding: 50px 0;
}

.text-left {
  text-align: left;
}

.section_header {
  width: 100%;
  float: left;
  padding: 10px 30px;
  margin-bottom: 50px;
}

.section_header h1 {
  font-size: 34px;
  font-weight: bold;
  color: #000;
  margin-bottom: 20px;
}

.section_header h5 {
  font-weight: 400;
  font-size: 18px;
  margin: 10px auto;
  max-width: 400px;
}

.cardWrap {
  background: linear-gradient(133.05deg, rgba(196, 196, 196, 0) -2.26%, #E2DDDD 47.35%, rgba(196, 196, 196, 0) 103.58%);
  padding: 50px 30px;
  border-radius: 20px;
  -webkit-backdrop-filter: blur(74px);
          backdrop-filter: blur(74px);
}

.cardWrap span {
  display: inline-block;
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 40px;
  -webkit-box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.2);
  background: linear-gradient(133.39deg, #34D1DB -9.11%, rgba(52, 209, 219, 0) 100%), linear-gradient(133.05deg, rgba(196, 196, 196, 0) -2.26%, #E2DDDD 47.35%, rgba(196, 196, 196, 0) 103.58%);
  color: #fff;
  margin-bottom: 20px;
}

.cardWrap h2 {
  color: #000;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0px;
}

.btn-cta {
  background-color: #222 !important;
  color: #fff !important;
  margin-top: 20px;
  max-width: 200px;
}

.btn-cta:hover {
  color: #f1f1f1 !important;
  background-color: #06BBC7 !important;
}
/*# sourceMappingURL=styles.css.map */